.foodNearMe{
    text-align: center;
}

.adcontainer {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container{
    padding-bottom: 10px;
}


.card {
    width: 30%; 
    margin-bottom: 20px;
}

