/*loginsignup.css*/
.loginContainer {
   font-family: 'Brandon Grotesque Regular';
}

.login-modal-title,
.signup-modal-title {
   color: #006267;
   font-weight: 600;
   font-family: 'Brandon Grotesque Bold', 'Helvetica', sans-serif;
}

.loginform-group label,
.passwordform-group label,
.signupform-group label {
   font-family: 'Brandon Grotesque Bold', 'Helvetica', sans-serif;
}

.btn-secondary,
.closeLogin,
.closeSignup {
   color: #FFFFFF;
   background-color: #adbdb3;
   border: none;
   border-radius: 4px;
   font-family: 'Brandon Grotesque Bold';
}

#logoutBtn,
#signUpBtn,
#logInBtn {
   background-color: #006267;
   color: white;
   border-color: transparent;
   font-family: 'Brandon Grotesque Bold';
}