/* profile.css */


#profileHeader{
    background-color: #2f5d8b;
    color: white;
    align-items: left;
}

.profile-navbar {
    margin-right: 0%;
    margin-left: 20%;
    width: 40%;
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    padding-left: 0px;
    background-color: white;
    color: black; 
}

.boldText {
    font-weight: bold;
}

.profileH1 {
    margin-left: 0%;
    font-weight: bold; 
    padding: 15px
}

.profileH2 {
    font-weight: bold; 
    padding: 5px
}

.profileA {
    width: 10%;
}

.accountInfo {
    float: right;
    width: 30%;
    overflow: hidden; 
    margin-right: 3%;
}

.profile-navbar li{
    list-style-type: none;
    margin-bottom: 30px;
    margin-right: 10px;
    float: left;
 }
 
 .profile-navbar th {
     float: left;
 }
 
 .profile-navbar button {
     margin-left: auto; 
     margin-bottom: 30px;
 }

 .profile-menu {
    margin-left: 3%;
    overflow: hidden; 
    width: 20%;
    float: left; 
    text-decoration: none;
}

.profile-menu u{
    list-style-type: none;
    background-color: #006267;
    padding: 0px;
    margin: 0px; 
    overflow: hidden;
    float: left;
    margin-left: 0px;
    text-decoration: none;
}

.profile-menu a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block; 
    text-align: center; 
}

.profile-menu a:hover{
    background-color: #003b3e;
}

#newPasswordForm, #changePhonenumberForm, #settingsForm {
    margin-left: 20%;
    margin-right: 20%;
    width: 50%;
    overflow: hidden;
}

.purchasehistory-Navbar{
    margin-right: 0%;
    /* margin-left: 20%; */
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    padding-left: 0px;
    background-color: #24517e;
    color: white;  
}

.purchasehistory-Navbar li{
    list-style-type: none;
    margin-left: 200px; 
}

#purchaseName {
    margin-left: 0px;
    width: 30%
}

#purchasePrice {
    margin-left: 0px;
}

.purchaseTable {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    border-collapse: collapse;
}
.purchaseTable th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.purchaseTable th {
    background-color: #f2f2f2;
}
.purchaseTable tr:hover {
    background-color: #f5f5f5;
}
