/* sell.css */

.sellcontainerjs {
    text-align: center;
    margin-top: 20px; /* Adds space above the text as needed */
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.startSelling {
    color: white; /* Set text color to white */
    background-color: #df6b3f; /* Set background color to orange */
    padding: 10px; /* Add padding for better appearance */
    border-radius: 4px; /* Add rounded corners for better appearance */
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for titles */
    font-weight: bold; /* Make titles bold */
}

.benefitsText {
    color: white; /* Set text color to white */
    background-color: #df6b3f; /* Set background color to orange */
    padding: 10px; /* Add padding for better appearance */
    font-size: 18px; /* Increase the font size */
    border-radius: 4px; /* Add rounded corners for better appearance */
    display: inline; /* Make the background size adjust to the content width */
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for labels in the form */
    font-weight: normal; /* Set normal weight for labels */
}

.sellImage {
    max-width: 100%; /* Limit the maximum width of the image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure image behaves as a block element */
    margin: 0 auto; /* Center the image horizontally */
    margin-top: 5px; /* Add some top margin */
}

/* Styling the Sell Button */
#sellBtn {
    background-color: #df6b3f; /* Orange background */
    width: 200px; /* Adjust the width as needed */
    color: white;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    box-shadow: 0px 0px 0px 2px #ffffff; /* Add a box-shadow to create a border-like effect */
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for titles */
    font-weight: bold; /* Make titles bold */
}

#sellBtn:hover {
    background-color: #b64519; /* Darker shade of color on hover */
}

#sellForm {
    max-width: 600px; /* Limit the maximum width of the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add some padding for better appearance */
    background-color: #df6b3f; /* Set background color */
    border-radius: 8px; /* Add rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    color: white; /* Set text color to white */
}

#sellForm .form-group {
    margin-bottom: 20px; /* Add some spacing between form groups */
    text-align: left; /* Align text to the left within form groups */
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for titles */
    font-weight: bold; /* Make titles bold */
}

#sellForm label {
    font-weight: bold; /* Make labels bold */
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for titles */
    font-weight: normal; /* Make titles bold */
}


/* Adjusting inputs and the submit button to match */
input[class="sellinput"], textarea[class="sellinput"] {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif; /* Apply Titillium Web for titles */
    font-weight: normal; /* Make titles bold */
}

button[id="submitCreateAd"] {
    background-color: #df6b3f;
    color: white;
    padding: 14px 20px;
    width: 200px; /* Adjust the width as needed */
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px #ffffff; /* Add a box-shadow to create a border-like effect */
}

button[id="submitCreateAd"]:hover {
    background-color: #b64519;
}
